<h1><%= t('messages.listing', model: @questions.model_name.human(count: @questions.count)) %> </h1>
<%# <%= @admins.inspect %>
<div class="col-sm-12">
  <table class="table table-bordered table-hover dataTable" width="100%" style="width: 100%;">
    <thead>
      <tr role="row">
        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 56.75px;">#</th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 61px;"><%= translate_attribute(@questions, :description) %></th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 61px;"><%= translate_attribute(@questions, :subject) %></th>
        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1" aria-label="Position: activate to sort column ascending" style="width: 21px; ">
        <%= link_to new_admins_backoffice_question_path, class:"btn btn-success btn-circle", style:"width: 100%" do %>
            <i class="fas fa-user-plus"></i>
        <% end %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @questions.each do |question| %>
      <tr class="odd">
        <td class="sorting_1"><%= question.id %></td>
        <td><%= question.description.truncate(50) %></td>
        <td><%= question.subject.description.truncate(30) %></td>
        <td style="text-align: center">

          <%= link_to edit_admins_backoffice_question_path(question), class:"btn btn-primary btn-circle" do %>
            <i class="fas fa-pen"></i> 
          <% end %>

          <%= link_to admins_backoffice_question_path(question), style:"margin: 0 15px", class:"btn btn-danger btn-circle", method: :delete, data: { confirm: t('messages.confirm_with', item: question.description.truncate(15)) } do %>
            <i class="fa fa-close"></i>
          <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <div class="text-center">
    <%= paginate @questions %>
  </div>
  
</div>
