<div class="x_title" style="width: 100%">
  <h3 style="text-align: center">Testes Realizados</h3> 
  <h1>
    <%= @test.description %> 
    <br><br>
    <sub>
      <small class="btn <%= @final <= 5 ? 'btn-danger' : 'btn-success' %> btn-sm" style="border: transparent">
        Nota: <%= @final.to_int  %>
      </small> 
      <small class="btn btn-info btn-sm" style="border: transparent">
        Respostas corretas <%= @corrects.size  %> de <%= @myCrazyHash.size %>
      </small>
    </sub>
  </h1>
  <div class="clearfix"></div>
</div>

<%= form_with url: users_backoffice_path, local: true do |f| %>
  <% @test.questions.each do |question| %>
    <div class="card" style="margin: 10px">
      <h5 class="card-header">
        Questão
        <%= question.id  %> 
      </h5>
      <div class="card-body">
        <h5 class="card-title"><%= sanitize question.description %></h5>
        <ul style="list-style:none;">
        <%= f.fields_for :answers do |answer| %>
          <div class="nested-fields">
            <br>
            <% question.answers.each do |answer| %>
              <%= radio_button_tag "form_questions[#{question.id}][]", answer.id, (@myCrazyHash.values.include?(answer.id)), disabled: true %>
                <%=h sanitize answer.description %><br />
            <% end %>
          </div>
        <% end %>
            <hr>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
